version: "3.5"
services:
  nginx:
    image: jwilder/nginx-proxy:alpine
    restart: always
    container_name: nginx-proxy
    networks:
      - frontend
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - ./volumes/ssl:/etc/nginx/certs
      - /var/run/docker.sock:/tmp/docker.sock:ro

  teampass:
    image: teampass/teampass
    container_name: teampass
    restart: always
    environment:
      VIRTUAL_HOST: teampass.example.com
    networks:
      - frontend
      - backend
    volumes:
      - ./volumes/teampass:/var/www/html

  db:
    restart: always
    image: mysql/mysql-server:5.7
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: mypass
      MYSQL_DATABASE: teampass
      MYSQL_PASSWORD: teampass
      MYSQL_USER: teampass
    volumes:
      - ./volumes/db:/var/lib/mysql
    networks:
      - backend

networks:
  frontend:
  backend:
